<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Logged In</title>
  </head>
  <body>
    <h1>Hey, you are logged in</h1>
    <a href="/logout" ><button name="button">Log Out</button></a>
  </body>
</html>
